

<div class="container-fluid"> 
    <div class="row mt-5">
      <div class="col-10">
        <div class="row ">
          <div class="col-6 offset-3"><h2>Toledo</h2></div>
       </div>
       </div>
    </div> <!-- Fin fila-->
      <div class="row mt-5 offset-2">
      <div class="col-10">
        <p>Toledo es un municipio y ciudad española, capital de la provincia homónima, en la comunidad autónoma de Castilla-La Mancha. Es conocida como «la ciudad imperial» por haber sido la sede principal de la corte de Carlos I y también como «la ciudad de las tres culturas»,​ por haber estado poblada durante siglos por cristianos, judíos y musulmanes. Con una población de 84873 habitantes (INE, 2019), se trata del tercer municipio más poblado de la región, tras Albacete y Guadalajara.</p>
        <img class="col-6" src="../../assets/img/Toledo.jpg" alt="foto de toledo"> 
      </div>
      </div>
  </div> <!-- Fin contenedor-->