
<div class="container-fluid"> 
  <div class="row mt-5">
    <div class="offset-2 col-10">
      <div class="row ">
        <div class="offset-3 col-6 "><h1><strong>¿Qué quieres hacer?</strong></h1></div>
     </div>
     </div>
  </div> <!-- Fin fila-->
    <div class="row mt-5 offset-3">
    <div class="col-10">
    <button type="button" (click)="ListadoCompleto()" class="col-3 btn btn-outline-info mr-2">Ver listado de todos los empleados</button>
    <button type="button" (click)="ConsultarComponente()" class="col-2 btn btn-outline-success mr-2">Consultar un empleado por id</button>
    <button type="button" (click)="VerMadrid()" class="col-2 btn btn-outline-secondary mr-2">Información de Madrid</button>
    <button type="button" (click)="VerToledo()" class="col-2 btn btn-outline-warning mr-2">Información de Toledo</button>
    </div>
    </div>
    <router-outlet></router-outlet>
</div> <!-- Fin contenedor-->